{% extends 'blog/layout.html' %}

{% block content %}
    <h1 class="mb-3">{{ view.kwargs.username }} has {{ page_obj.paginator.count }} posts</h1>
    {% for post in posts %}
        {% include 'blog/article.html' %}
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number}}">Previous</a>
        {% endif %}

        {% for page_number in page_obj.paginator.page_range %}
            {% if page_obj.number == page_number %}
                <a class="btn btn-info mb-4" href="?page={{ page_number }}">{{ page_number }}</a>
            {% elif page_number > page_obj.number|add:'-2' and page_number < page_obj.number|add:'2' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_number }}">{{ page_number }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock content %}